@font-face {
    font-family: 'title_font';
    src: url("/static/css/fonts/Preciosa.ttf") format('opentype');
}

a {
    font-family: 'title_font';
    color: #000000;
    font-weight: bold;
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    text-align: center;
}

.description {
    font-style: italic;
    font-size: 50px;
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

img {
    /*max-width: 100%;*/
    /*height: auto;*/
    width: 500px;
    height: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}